<style type="text/css">
	body{
		margin-top: 110px;
	}
	.activity{
		padding: 20px;

	}
</style>
  <div class="top-of-fold">
    <div class="row top-of-fold-row" style="padding-left: 4px; padding-right: 4px; margin-left: auto;">
      <div class="col-lg-6 col-xs-12 col-md-6">
        <% @topbands.with_reputation(:votes).order("votes DESC").each_with_index do |top_band, i| %>
          <% if i == 0 %>
            <%= link_to band_path(top_band)do %>
            <div class="row top-of-fold-content" >
              <div class="blur-art-sm">
                <img src="<%= top_band.band_avatar.url(:medium) %>"  style= "object-fit:fill;" class= "blurry-image-sm"  >
              </div>
                <div class="art-top">
                  <div class="clear-art-sm">
                    <img src="<%= top_band.band_avatar.url(:medium) %>"  style= "object-fit:cover;" class= "clear-image ">
                  </div>
                </div>
                <div class="details-bottom">
                  <div class="album-details-sm">
                    <h3> Top Artist: <%= top_band.group_name %> </h3>
                    <p>
                        <%= truncate( top_band.description, length: 290, separator: ' ') %>
                      </p>
                    <div class="add-deets">
               
                      joined <%= top_band.created_at.strftime("%b %d, %Y") %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      
      <div class="col-lg-6 col-xs-12 col-md-6">
      	<% @albums.with_reputation(:votes).order("votes DESC").each_with_index do |album, i| %>
          <% if i == 0 %>
            <%= link_to band_album_path(album.band_id, album)do %>
            <div class="row top-of-fold-content" >
              <div class="blur-art-sm">
                <img src="<%= album.album_art.url(:medium) %>"  style= "object-fit:fill;" class= "blurry-image-sm"  >
              </div>
                <div class="art-top">
                  <div class="clear-art-sm">
                    <img src="<%= album.album_art.url(:medium) %>"  style= "object-fit:cover;" class= "clear-image ">
                  </div>
                </div>
                <div class="details-bottom">
                  <div class="album-details-sm">
                    <h3> Top Album: <%= album.name %> </h3>
                    <p>
                        <%= truncate( album.description, length: 290, separator: ' ') %>
                      </p>
                    <div class="add-deets">
                      
                      released <%= album.created_at.strftime("%b %d, %Y") %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
    <div class="row activities-row">
    	<div class="col-md-8 " style="padding-right: 0px;">

    		<div class="cool-panel blue-grad" style=" background-color: #213143; text-align: center; ">
				<h3><strong>Recent News</strong></h3>
			 
	    	<% if @activities.present? %>
				<div class="activities">
					<%= render_activities(@activities) %>
				</div>
			<% else %>
			<div class="panel cool-panel">
				<h4>No Activities</h4>
				<h4><%= link_to "Find Some Artists To Like", bands_path %></h4>
			</div>
      <% end %>
      </div>
		</div>
	
    <div class="col-md-4">
		<div class="cool-panel sidebar" style="">
			<div class="top-form-panel red-grad" style="padding-top: 30px; text-align: center; margin-left:0px; margin-right:0px;">

    			<h3><strong> Top Artists </strong></h3>
    		</div>
      		<div class="sidebar-deets">
		      	<% @topbands.each_with_index do |top_band, i| %>
		        <p>
			        <%= link_to top_band do %>
			          	<div class="row li-artist-charts">
			            	<div class="col-xs-1 col-md-2">
			              		<p> <%= ( i+1 ) %>. </p>
			            	</div>
			            	<div class="col-xs-11 col-md-10">
			              	<p><strong> <%= top_band.group_name %></strong> </p>
			            	</div> 
			          	</div>
			        <% end %>
	        	</p>
	      		<% end %>
      		</div>
    	</div>
    	<div class="cool-panel sidebar" style="">
			<div class="top-form-panel red-grad" style="padding-top: 30px; text-align: center; margin-left:0px; margin-right:0px;">

    			<h3><strong> Top Albums </strong></h3>
    		</div>
      		<div class="sidebar-deets">
		      	<% @albums.each_with_index do |top_album, i| %>
			        <%= link_to top_album do %>
			        	<div class="row">
				          	<div class="col-xs-1 col-md-2" style="padding-top:17px;">
				            
				            	<p><%= (i+1) %>.</p>
				          	</div>
				          	<div class="col-xs-11 col-md-10">
				            	<p>
				               		<strong><%= top_album.name %></strong>
				            	</p>
				            <p> 
				              	<%= top_album.band.group_name %>
				            </p>
				          	</div>
			          	</div>
			        <% end %>
	      		<% end %>
      		</div>
    	</div>
    	<div class="cool-panel sidebar">
			<div class="top-form-panel red-grad" style="padding-top: 30px; text-align: center; margin-left:0px; margin-right:0px;">

    			<h3><strong> Top Songs </strong></h3>
    		</div>
      		<div class="" style="padding:20px; margin-top:35px; ">
		      	<% @songs.each_with_index do |top_song, i| %>
			        <a href="<%= band_album_song_path(top_song.album.band_id, top_song.album, top_song) %>" id="show-song" class="clickable-row-<%= top_song.id %>">
			        	<div class="row">
				          	<div class="col-xs-1 col-md-2" style="padding-top:17px;">
				            
				            	<p><%= (i+1) %>.</p>
				          	</div>
				          	<div class="col-xs-11 col-md-10">
				            	<p>
				               		<strong><%= top_song.title %></strong>
				            	</p>
				            <p> 
				              	<%= top_song.album.band.group_name %>
				            </p>
				          	</div>
			          	</div>
			        </a>
	      		<% end %>
      		</div>
    	</div>
  	</div>
</div>