<% if user_signed_in? %>
<style>
.container{
	margin-top:100px;
}
.row{
	margin:0px;
}
.article-feed-img{
	width:100%;
}
</style>

	<!-- <div class="col-md-3">
	<% if current_user.bands.any? %>
		<h3><strong>Your Artists</strong></h3>
		<hr>
		<% current_user.bands.each do |band| %>
			<label> <%= link_to band do %><%= band.group_name %> <% end %></label> <br/> 
			<%= link_to 'Edit', edit_band_path(band) %> | <%= link_to 'Add Music', new_band_album_path(band) %>
			<hr>
		<% end %>
		<%= link_to 'New Group', new_band_path %>
	<% else %>
		<h3><strong>No Artists</strong></h3>
		<hr>
		<%= link_to 'Sign Up Your Group', new_band_path %>
	<% end %>
	</div> -->
	<div class="col-md-9" >
		<div class="cool-panel top-form-panel" style=" background-color: #213143; margin:17px; text-align: center;">
			<h3><strong>Recent Activities</strong></h3>
		</div>
	<% if @activities.present? %>
		<div class="activities">
			<%= render_activities(@activities) %>
		</div>
	<% else %>
		<div class="panel cool-panel">
			<h4>No Activities</h4>
			<h4><%= link_to "Find Some Artists To Like", bands_path %>
		</div>
	<% end %>
	

	</div>
	<div class="col-md-3">
		<% if current_user.following.any? %>
			<div class="cool-panel" style=" background-color: #FFF; margin-left:-15px; margin-right:-15px;">
				<div class="top-form-panel" style=" background-color: #5C7064; margin-top:17px; text-align: center; margin-left:0px; margin-right:0px;"">
					<h3><strong> Bands you follow </strong></h3>
				</div>
				<div class="" style="padding:20px; margin-top:35px; ">
				<% current_user.following.each do |band| %>
					<p>
					
					<%= link_to band do %><%= band.group_name %><% end %>
					</p>
					<hr>
				<% end %>
				</div>
			</div>
		<% end %>
		<div class="cool-panel" style=" background-color: #FFF; margin-left:-15px; margin-right:-15px;">
			<div class="top-form-panel" style=" background-color: #691D22; margin-top:30px; text-align: center; margin-left:0px; margin-right:0px;">
				<h3><strong> Top Local Artists </strong></h3>
			</div>
			<div class="" style="padding:20px; margin-top:35px; ">
				<% @bands.each do |top_band| %>
					<p>
					<%= link_to top_band do %><%= top_band.group_name %> <small class="pull-right"><%= top_band.reputation_for(:votes).to_i %></small><% end %>
					</p>
					<hr>
				<% end %>
			</div>
		</div>
	</div>

<% else %>
	<h3> Hey,</h3>
	<h4> Welcome to My Media Tape! Listen to some music! </h4>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h3> Recent Activity </h3>
			<hr>
			<%= render_activities(@activities) %>
		</div>
	</div>
<% end %>
