<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @albums.each_with_index do |album, i| %>
    <li data-target="#carousel" data-slide-to="<%= album.id %>" class="<%= 'active' if i == 0 %>"></li>
    <% end %>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<% @albums.each_with_index do |album, i| %>
  	<%= link_to band_album_url(album.band_id, album) do %>
    <div class="item <%= 'active' if i == 0 %>">
      <img src="<%= album.album_art.url %> alt="..." style=" min-width: 400px; max-height: 400px; object-fit: cover;" class="img-responsive img-carousel" data-adaptive-background >
      <div class="carousel-caption col-md-6 col-md-offset-3">
        <h3><%= album.band.group_name %></h3>
        <hr>
        <h2><%= album.name %></h2>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br/>

	<div class="col-md-8 ">
		<h2 style="text-align: center;"> National Charts </h2>
		<hr>
		<div class="col-md-4">
			<h3><strong> Artists </strong></h3>
			<hr>
			<% @bands.each do |top_band| %>
				<p>
				<%= link_to top_band do %><strong><%= top_band.group_name %></strong> <small class="pull-right"><%= top_band.reputation_for(:votes).to_i %></small> <% end %>
				</p>
				<hr>
			<% end %>
		</div>
		<div class="col-md-4">
			<h3><strong> Albums </strong></h3>
			<hr>
			<% @albums.each do |top_album| %>
				<%= link_to band_album_path(top_album.band_id, top_album) do %>
				<p>
					<strong><%= top_album.name %></strong><small class="pull-right pull-right-tall"> <%= top_album.reputation_for(:votes).to_i %></small>
				</p>
				<p> 
					<%= top_album.band.group_name %>
				</p>
				<% end %>
				<hr>

			<% end %>
		</div>
		<div class="col-md-4">
			<h3><strong> Songs </strong></h3>
			<hr>
			<% @songs.each do |top_song| %>
				<%= link_to band_album_song_path(top_song.album.band_id, top_song.album_id, top_song ), :target => "_blank" do %>
					<p>
						<strong><%= top_song.title %></strong> | <small><%= top_song.album.name if top_song.album %></small> <small class="pull-right pull-right-tall"> <%= top_song.reputation_for(:votes).to_i %></small>
					</p>
					<p>
						<%= top_song.album.band.group_name if top_song.album %>
					</p>
				<% end %>
				<hr>
			<% end %>
		</div>
	</div>
		<div class="col-md-4 ">
	<h2 style="text-align: center;"><strong>All Recent Activities</strong></h2>
	<hr>
		<%= render_activities(@activities) %>
	</div>
