
  <div class="row activity event-activity-<%=activity.trackable.id%>">
  <% if controller_name == "articles" && action_name == "show" ||  controller_name == "static_pages" && action_name == "national"||  controller_name == "bands" && action_name == "index" %>

    <div class="col-md-12">	
    	
        	<h4><%= link_to band_url(activity.trackable.band.id) do %><strong><%= activity.trackable.band.group_name %></strong><% end %> updated a <strong>Show</strong> <small class="pull-right"><%= time_ago_in_words activity.trackable.created_at %> ago</small></h4>
          <hr>
          <div style="margin-left:auto; margin-right:auto; text-align: center;">
                <%= link_to band_event_url(activity.trackable.band.id, activity.trackable.id) do %>
        <%= image_tag activity.trackable.flyer.url(:medium), style: "height:200px; width:145px; object-fit:cover;", class: "albumArt" %>
      <% end %>
          </div>
          <hr>
          	<%= link_to band_event_url(activity.trackable.band.id, activity.trackable.id) do %><p><%= activity.trackable.title %></p>
          	<p><%= activity.trackable.description %></p>
          	<p><%= activity.trackable.date %></p>
      	<% end %>
    	<p>
    	</p>
    </div>

  <% else %>
        <div class="col-md-8">  
      
          <h4><%= link_to band_url(activity.trackable.band.id) do %><strong><%= activity.trackable.band.group_name %></strong><% end %> updated a <strong>Show</strong> <small class="pull-right"><%= time_ago_in_words activity.trackable.created_at %> ago</small></h4>
          <hr>
            <%= link_to band_event_url(activity.trackable.band.id, activity.trackable.id) do %><p><%= activity.trackable.title %></p><% end %>
            <p><%= activity.trackable.description %></p>
            <p><%= activity.trackable.date %></p>
        
      <p>
      </p>
    </div>
    <div class="col-md-4">
      <%= link_to band_event_url(activity.trackable.band.id, activity.trackable.id) do %>
        <img src="<%= activity.trackable.flyer.url %>" style= " object-fit:cover;" class="albumArt img-responsive" data-adaptive-background data-ab-parent='.event-activity-<%=activity.trackable.id%>' />
      <% end %>
    </div>
  <% end %>
  </div>
