<% if current_user.admin? || current_user.editor? %>
<p id="notice"><%= notice %></p>

<h2>Articles Dashboard</h2>
<hr>
<div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-4">
        <div class="panel panel-admin panel-default cool-panel">
          <div class="panel-heading">
            <h3 class="panel-title"><% if article.public? %> <i class="fa fa-star" aria-hidden="true"></i> <% else %> <i class="fa fa-star-o" aria-hidden="true"></i> <% end %><%= article.title %></h3>
          </div>
          <div class="panel-body panel-body-admin">
            <% if article.band_id.present? %><%= article.band.group_name %> |<% end %> <%= article.user.first_name %> <%= article.user.last_name %>
            <p>
            <%= article.body.truncate(160).html_safe %>
            </p>

          </div>
          <div class="panel-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <%= link_to 'Show', article, class: "btn btn-success" %>
              </div>
              <div class="btn-group" role="group">
                <%= link_to 'Edit', edit_article_path(article), class: "btn btn-info" %>
              </div>
              <div class="btn-group" role="group">
                <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<br>
<% elsif current_user.articles.present? %>
  <h2>Your Articles Dashboard <small> A full star means your article is public! </small></h2>

<hr>
<div class="row">
    <% current_user.articles.each do |article| %>
      <div class="col-md-4 cool-panel">
        <div class="panel panel-admin panel-default ">
          <div class="panel-heading">
            <h3 class="panel-title"><% if article.public? %> <i class="fa fa-star" aria-hidden="true"></i> <% else %> <i class="fa fa-star-o" aria-hidden="true"></i> <% end %><%= article.title %></h3>
          </div>
          <div class="panel-body panel-body-admin">
            <%= article.user.first_name %> <%= article.user.last_name %>
            <p>
            <%= article.body.truncate(130).html_safe %>
            </p>

          </div>
          <div class="panel-footer" >
            <div class="btn-group btn-group-justified" role="group" aria-label="..." >
              <div class="btn-group" role="group" >
                <%= link_to 'Show', article, class: "btn btn-success" %>
              </div>
              <div class="btn-group" role="group">
                <%= link_to 'Edit', edit_article_path(article), class: "btn btn-info" %>
              </div>
              <div class="btn-group" role="group">
                <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<br>
<% else %>

<% end %>
<%= link_to 'New Article', new_article_path %>
