<style>
img{
	max-width:700px;
}
</style>
<div class="row">
  <div class="col-md-8 article-container">	
	<p id="notice"><%= notice %></p>
	<% if user_signed_in? && current_user.admin == "true" || user_signed_in? && current_user.editor == "true" || user_signed_in? && @article.user.id == current_user.id || @article.public? %>
		<h3><% if user_signed_in? && current_user.admin == "true" || user_signed_in? && current_user.editor == "true" || user_signed_in? && @article.user == current_user %><% if @article.public? %> <i class="fa fa-star" aria-hidden="true"></i> <% else %> <i class="fa fa-star-o" aria-hidden="true"></i> <% end %> <% end %>
		  <%= @article.title %> <small class="pull-right"><%= @article.created_at.strftime("%B %d, %Y") %></small>
		</h3>
		<hr>
		<div class="photos-container">
			<% if @article.article_photos.any? %>
				<% if @article.article_photos.count == 1 %>
					<% @article.article_photos.each do |photo| %>
						<div class="col-md-12">
							<%= image_tag photo.image.url(:medium), class: "img-responsive" %>
						</div>
					<% end %>
				<% elsif @article.article_photos.count == 2 %>
					<% @article.article_photos.each_with_index do |photo, i| %>
						<div class="col-md-6">
							<a href="#" data-toggle="modal" data-target="#photo-<%= i %>">
								<%= image_tag photo.image.url(:medium), class: "img-responsive" %>
							</a>
						</div>
						<div class="modal fade" id="photo-<%= i %>" tabindex="-1" role="dialog" aria-labelledby="photo-<%= i %>" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content" style="padding:20px;">
						    <img src="<%= photo.image.url %>" class="img-responsive" style="margin-left:auto; margin-right:auto;" data-adaptive-background >
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					<% end %>
				<% elsif @article.article_photos.count == 3 %>
					<div class="row">
					<% @article.article_photos.each_with_index do |photo, i| %>
						
						<div class="<%= 'col-md-6' if i == 0 %> <%= 'col-md-3' if i == 1 %> <%= 'col-md-3' if i == 2 %>">
							<a href="#" data-toggle="modal" data-target="#photo-<%= i %>">
								<%= image_tag photo.image.url(:medium), class: "img-responsive" %>
							</a>
						</div>
						
						<div class="modal fade" id="photo-<%= i %>" tabindex="-1" role="dialog" aria-labelledby="photo-<%= i %>" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content" style="padding:20px;">
						    <img src="<%= photo.image.url %>" class="img-responsive" style="margin-left:auto; margin-right:auto;" data-adaptive-background >
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->

					<% end %>
					</div>
				<% end %>
				<hr>
			<% end %>

		</div>
		
		<p class="article-body">

		  <%= @article.body.html_safe %>
		  <br/>
		</p>

		<h5>
		  <%= image_tag @article.user.avatar.url(:thumb), style: "height:30px; padding-right:6px; border-radius:11px;" %> <%= @article.user.first_name %> <%= @article.user.last_name %>
		</h5>
		<% if user_signed_in? && current_user.admin? || user_signed_in? && current_user.editor? %>
		<br/>
		<%= link_to 'Edit Public Status', edit_article_path(@article), class: "btn btn-lg btn-warning" %> 	<%= link_to 'Back To Editor Dashboard', articles_path, class: "btn btn-lg btn-default" %>
		<% elsif current_user == @article.user && @article.public.blank? %>
			<%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-lg btn-warning" %>
		<% end %>
		<hr>
		<h3> Comments </h3>
		<%= render :partial => 'article_comments_fields' %>
		<% if @article.article_comments.present? %>
			<% @article.article_comments.each do |comment| %>
			<hr>
				<h5> <strong><%= comment.user.first_name if comment.user %> <%= comment.user.last_name if comment.user %></strong> </h5>
				<p>	<%= comment.body %> </p>

			<% end %>
		<% else %>
			<div class="well">
				<h4> No Comments </h4>
			</div>
		<% end %>
	  </div>
	<% end %>
  <div class="col-md-4">
  	
  	<% if @article.band_id.present? %>
  		<h3><%= link_to band_url(@band) do %>
		  <strong><%= @band.group_name %></strong>
		  <% end %></h3>
  		<hr>
		<h4>
		  Recent Activities
		</h4>
		<hr>
		<div class="article-activities">
			<%= render_activities(@activities) %>
		</div>
	<% end %>
  </div>
</div>