
<% if activity.trackable.public? %>
  <% if controller_name == "articles" && action_name == "show" ||  controller_name == "static_pages" && action_name == "national"||  controller_name == "static_pages" && action_name == "local" %>
    <div class="cool-panel" style="margin-right:10px; margin-left:10px; padding:15px;">
      <div class="">
        <div class="row activity">
          <div class="col-md-12">	
          	<div style="margin-left:auto; margin-right:auto; text-align: center;">
              <%= link_to article_url(activity.trackable.band.id, activity.trackable.id) do %>
                <% if activity.trackable.article_photos.any? %>
                  <% activity.trackable.article_photos.each_with_index do |photo, i|%>
                    <% if i == 0 %>
                      <%= image_tag photo.image.url(:medium), style: "height:150px; width:150px; object-fit:cover;", class: "albumArt " %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
              	<h4><%= link_to article_url(activity.trackable.id) do %><strong><%= activity.trackable.band.group_name %></strong><% end %> has some  <strong>News</strong> <small class="pull-right"><%= time_ago_in_words activity.trackable.created_at %> ago</small></h4>
                <hr>
                	<%= link_to article_url(activity.trackable.id) do %><p><%= activity.trackable.title %></p>
                	<p><%= strip_tags(activity.trackable.body.truncate(190)) %></p>
            	<% end %>
          	<p>
          	</p>
          </div>
        </div>
      </div>
    </div>
  <% else %>

    <div class="activity panel cool-panel album-activity-<%=activity.trackable.id%>" style="padding-top:20px; padding-bottom:20px;">
        <div class="row">
          <div class="col-md-8"> 
                <h4><%= link_to article_url(activity.trackable.id) do %><strong><%= activity.trackable.band.group_name %></strong><% end %> has some  <strong>News</strong> <small class="pull-right"><%= time_ago_in_words activity.trackable.created_at %> ago</small></h4>
                <hr>
                  <%= link_to article_url(activity.trackable.id) do %><p><%= activity.trackable.title %></p>
                  <hr>
                  <p><%= strip_tags(activity.trackable.body.truncate(190)) %></p>
              <% end %>
            <p>
            </p>
          </div>
          <div class="col-md-4">
            <% if activity.trackable.article_photos.any? %>
              <% activity.trackable.article_photos.each_with_index do |photo, i| %>
                <% if i == 0 %>
                  <img class="article-feed-img albumArt img-responsive" src="<%= photo.image.url %>" %>
                <% end %>
              <% end %>
            <% else %>
              <img src="activity.trackable.band.avatar.url"  %>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
<% end %>