<div class="col-md-12">
<div class="row">
  <div class="row activity">
    <% if controller_name == "articles" && action_name == "show" ||  controller_name == "static_pages" && action_name == "national"||  controller_name == "static_pages" && action_name == "local" %>

    <div class="col-md-12">	
        	<h4><%= link_to band_url(activity.trackable.band.id) do %><strong><%= activity.trackable.band.group_name %></strong><% end %> Released <strong><%= activity.trackable.name %></strong> <small class="pull-right"><%= time_ago_in_words activity.trackable.created_at %> ago</small></h4>
      	<hr>
      	<div style="margin-left:auto; margin-right:auto; text-align: center;">
      	<%= link_to band_album_url(activity.trackable.band.id, activity.trackable.id) do %>
	      <%= image_tag activity.trackable.album_art.url(:medium), style: "height:150px; width:150px; object-fit:cover;", class: "albumArt " %>
	    <% end %>
	    </div>
	    <hr>
      	<label> Songs </label>
    	<p>
    	<table class="table table-hover">
    	<% activity.trackable.songs.each do |album_song| %>
    		
		    
	      <tr data-href="<%= band_album_song_url(album_song.album.band_id, album_song.album, album_song) %>" id="show-song" class="clickable-row-<%= album_song.id %>">
	        <td style="padding-top:18px;"><%= album_song.track_number %></td>
	        <td><strong><%= album_song.title %></strong><br/> <%= album_song.album.name %></td>
	        <td style="padding-top:18px;"><%= album_song.album.released %></td>
	      </tr>
	      <script>
			jQuery(document).ready(function($) {
			    $(".clickable-row-<%= album_song.id %>").click(function() {
			      var url = $(this).data('href');
			      window.open(url, '_blank');
			    });
			});
      	</script>
    	<% end %>
    	</table>
    	</p>
    </div>

    <% else %>
        <div class="col-md-8">	
        	<h4><%= link_to band_url(activity.trackable.band.id) do %><strong><%= activity.trackable.band.group_name %></strong><% end %> Released <strong><%= activity.trackable.name %></strong> <small class="pull-right"><%= time_ago_in_words activity.trackable.created_at %> ago</small></h4>
      	<hr>
      	<label> Songs </label>
    	<p>
    	<table class="table table-hover">
    	<% activity.trackable.songs.each do |album_song| %>
    		<tr data-href="<%= band_album_song_url(album_song.album.band_id, album_song.album, album_song) %>" id="show-song" class="clickable-row-<%= album_song.id %>">
	        <td style="padding-top:18px;"><%= album_song.track_number %></td>
	        <td><strong><%= album_song.title %></strong><br/> <%= album_song.album.name %></td>
	        <td style="padding-top:18px;"><%= album_song.album.released %></td>
	      </tr>
	      <script>
			jQuery(document).ready(function($) {
			    $(".clickable-row-<%= album_song.id %>").click(function() {
			      var url = $(this).data('href');
			      window.open(url, '_blank');
			    });
			});
      	</script>
    	<% end %>
    	</table>
    	</p>
    </div>
    <div class="col-md-4">
	    <%= link_to band_album_url(activity.trackable.band.id, activity.trackable.id) do %>
	      <%= image_tag activity.trackable.album_art.url(:medium), style: "height:150px; width:150px; object-fit:cover;", class: "albumArt" %>
	    <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>
      <script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      var url = $(this).data('href');
      window.open(url, '_blank');
    });
});
      </script>