<style>
  .activity{
    padding-top: 0px;
    padding-bottom: 15px;
  }
</style>
  <div class=" activity ">
    <% if controller_name == "articles" && action_name == "show" ||  controller_name == "static_pages" && action_name == "national"||  controller_name == "bands" && action_name == "index" %>

    <div class="cool-panel" style="margin-right:10px; margin-left:10px; padding:15px;">	
        
        	<h4><%= link_to band_url(activity.trackable.band.id) do %><strong><%= activity.trackable.band.group_name %></strong><% end %> Released <strong><%= activity.trackable.name %></strong> <small class="pull-right"><%= time_ago_in_words activity.trackable.created_at %> ago</small></h4>
      	<hr>
      	<div style="margin-left:auto; margin-right:auto; text-align: center;">
      	<%= link_to band_album_url(activity.trackable.band.id, activity.trackable.id) do %>
	      <%= image_tag activity.trackable.album_art.url(:medium), style: "height:150px; width:150px; object-fit:cover;", class: "albumArt " %>
	    <% end %>
	    </div>
	    <hr>
      	<label> Songs </label>
    	<p>
    	<table class="table table-hover">
    	<% activity.trackable.songs.each_with_index do |album_song, i| %>
    		
		    
	      <tr data-href="<%= band_album_song_url(album_song.album.band_id, album_song.album, album_song) %>" id="show-song" class="clickable-row-<%= album_song.id %>">
	        <td style="padding-top:18px;"><%= album_song.track_number %></td>
	        <td><strong><%= album_song.title %></strong><br/> <%= album_song.album.name %></td>
	        <td style="padding-top:16px;"><span id="duration-<%= i %>" style="float: right;"></span></td>
	      </tr>
        <audio id="my-audio-<%= i %>" src="<%= album_song.audio_file.url %>"></audio>

        <script>
          $("#my-audio-<%= i %>").on("canplaythrough", function(e){
              var seconds = e.currentTarget.duration;
              var duration = moment.duration(seconds, "seconds");
              
              var time = "";
              var hours = duration.hours();
              if (hours > 0) { time = hours + ":" ; }
              
              time = time + duration.minutes() + ":" + duration.seconds();
              $("#duration-<%= i %>").text(time);
          });

          $("#file").change(function(e){
            var file = e.currentTarget.files[0];

            var reader = new FileReader();
            
            reader.onLoad = function(encodedFile){
              $("#my-audio").prop(src, encodedFile);
            };
            
            reader.readAsDataURL(file);
          });
        </script>
	      <script>
			jQuery(document).ready(function($) {
			    $(".clickable-row-<%= album_song.id %>").click(function() {
			      var url = $(this).data('href');
			      window.open(url, '_blank');
			    });
			});
      	</script>
    	<% end %>
    	</table>
    	</p>
    </div>

    <% else %>
    <div class="cool-panel" style="padding: 20px; margin-right: -20px; margin-left: -20px;">
      <div class=" row">
        <div class="col-md-8">	
          <div class="activity-title">
          	<h4><%= link_to band_url(activity.trackable.band.id) do %><strong><%= activity.trackable.band.group_name %></strong><% end %> Released <strong><%= activity.trackable.name %></strong> <small class="pull-right"><%= time_ago_in_words activity.trackable.created_at %> ago</small></h4>
          </div>
      	<hr>
      	<label> Songs </label>
    	<p>
    	<table class="table table-hover">
    	<% activity.trackable.songs.each_with_index do |album_song, i| %>
    		<tr data-href="<%= band_album_song_url(album_song.album.band_id, album_song.album, album_song) %>" id="show-song" class="clickable-row-<%= album_song.id %>">
	        <td style="padding-top:18px;"><%= album_song.track_number %></td>
	        <td><strong><%= album_song.title %></strong><br/> <%= album_song.album.name %></td>
	        <td style="padding-top:16px;"><span id="duration-<%= i %>" style="float: right;"></span></td>
	      </tr>
        <audio id="my-audio-<%= i+1 %>" src="<%= album_song.audio_file.url %>"></audio>

        <script>
          $("#my-audio-<%= i+1 %>").on("canplaythrough", function(e){
              var seconds = e.currentTarget.duration;
              var duration = moment.duration(seconds, "seconds");
              
              var time = "";
              var hours = duration.hours();
              if (hours > 0) { time = hours + ":" ; }
              
              time = time + duration.minutes() + ":" + duration.seconds();
              $("#duration-<%= i %>").text(time);
          });

          $("#file").change(function(e){
            var file = e.currentTarget.files[0];

            var reader = new FileReader();
            
            reader.onLoad = function(encodedFile){
              $("#my-audio").prop(src, encodedFile);
            };
            
            reader.readAsDataURL(file);
          });
        </script>
	      <script>
			jQuery(document).ready(function($) {
			    $(".clickable-row-<%= album_song.id %>").click(function() {
			      var url = $(this).data('href');
			      window.open(url, '_blank');
			    });
			});
      	</script>
    	<% end %>
    	</table>
    	</p>
    </div>
    <div class="col-md-4">
	    <%= link_to band_album_url(activity.trackable.band.id, activity.trackable.id) do %>
	      <img src="<%= activity.trackable.album_art.url %>" style= " object-fit:cover;" class="albumArt img-responsive"  />
	    <% end %>
    </div>
    </div>
  </div>
    <% end %>
  </div>
      <script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      var url = $(this).data('href');
      window.open(url, '_blank');
    });
});
      </script>