<p id="notice"><%= notice %></p>

<h1>Listing <%= @band.group_name %>'s Events</h1>
<hr>
<% @events.each do |event| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= event.title %></h3>
      </div>
      <div class="panel-body">
        <%= event.date %> <%= event.time %>
        <p>
        <%= event.city %> <%= event.state %>
        </p>
        <p>
        <%= event.description %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <%= link_to 'Show', band_event_url(event.band_id, event.id), class: "btn btn-success" %>
          </div>
          <div class="btn-group" role="group">
            <%= link_to 'Edit', edit_band_event_url(event.band_id, event.id), class: "btn btn-info" %>
          </div>
          <div class="btn-group" role="group">
            <%= link_to 'Destroy', band_event_url(event.band_id, event.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<br>

<%= link_to 'New Event', new_band_event_path %>
