<style>
body{
	margin-top: 120px;
}

</style>
<% if user_signed_in? %>
<div class="cool-panel top-form-panel blue-grad admin-title-panel" style=" margin-bottom: 15px;">
    <div class="row">
      <div class="col-sm-9 top-text-form-panel">
      <h2><strong>'<%= @album.band.group_name %>' New Release</strong></h2> 
      
      </div>
      <div class="col-sm-3 page-head-btn">
        <%= link_to edit_band_path(@album.band), class: "btn btn-link pull-right desktop-only" do %>
            <h3><strong><i class="fa fa-check" aria-hidden="true"></i></strong></h3>
        <% end %>
        <%= link_to edit_band_path(@album.band), class: "btn btn-default btn-block pull-right mobile-only", style: "padding: 0px; color:#000;" do %>
            <h3><strong><i class="fa fa-check" aria-hidden="true"></i> Done</strong></h3>
        <% end %>
      </div>
    </div>
  </div>
	
<div class="row" style="margin-left: 0px; margin-right: 0px;">
	<div class="song-upload-img">
		<img src="<%= @album.album_art.url(:medium) %>" class=" img-responsive cool-panel" style= "height:220px; width:100%; object-fit:cover;", class: " img-responsive album-bg-img" >
	</div>
	<div class="song-upload-deets red-grad cool-panel" style= "height:220px; padding-left: 0px; padding-right: 0px; border-radius: 3px; overflow: hidden;">
		<div class="panel-head">
			<h3 class="h3-str" style=""><strong><%= @album.name %></strong></h3>
      <h3 class="h3-sm"><small style="padding-left: 0px;"> <%= @album.band.group_name %></small></h3>
		</div>
		<div class="panel-content" style="height: 112px; overflow-x: auto;">
			<p><%= @album.description %></p>
		</div>
		<div style="padding:0px; position: absolute; top:0px; right:0px; height: 100px; width:100px;">
	  	  
	  	  <%= link_to edit_band_album_path(@album.band.id, @album), class: "btn btn-lg btn-info btn-info-block-head-sm" do %>
		    <div class="back-form">
		      <h2><i class="fa fa-gear" aria-hidden="true"></i></h2>
		    </div>
		  <% end %>
		</div>
	</div>
</div>
<div class="" style="margin-top: 15px;">
	<div class="col-sm-6 song-list-uploaded" style="padding:0px; margin-bottom: 15px;">
		<div class="cool-panel blue-grad">
			<div class="panel-head">
				<h3><strong> Songs </strong></h3>
			</div>
			<div class="panel-content" style="padding:20px; ">
			<% if @album.songs.any? %>
					<table class="table table-hover table-borderless">
					  	<% @album.songs.each_with_index do |album_song, i| %>
					  
						    <tr class="clickable-row song-list cool-panel" >
						      	<td style="padding-top:18px;"><%= album_song.track_number %></td>
						      	<td><strong><%= album_song.title %></strong><br/> <%= album_song.album.name %></td>
						      	<td style="padding-top:18px;"><%= album_song.album.released %></td>
						      	<td style="padding-top:18px;"><span id="duration-<%= i %>"></span></td>
						    </tr>
						    
					  		<audio id="my-audio-<%= i %>" src="<%= album_song.audio_file.url %>"></audio>

							<script>
								$("#my-audio-<%= i %>").on("canplaythrough", function(e){
								    var seconds = e.currentTarget.duration;
								    var duration = moment.duration(seconds, "seconds");
								    
								    var time = "";
								    var hours = duration.hours();
								    if (hours > 0) { time = hours + ":" ; }
								    
								    time = time + duration.minutes() + ":" + duration.seconds();
								    $("#duration-<%= i %>").text(time);
								});

								$("#file").change(function(e){
								  var file = e.currentTarget.files[0];

								  var reader = new FileReader();
								  
								  reader.onLoad = function(encodedFile){
								    $("#my-audio").prop(src, encodedFile);
								  };
								  
								  reader.readAsDataURL(file);
								});
							</script>
					  	<% end %>
					</table>
			<% else %>
				<div class="well">
					<h3><strong> Songs will show up here </strong></h3>
				</div>
			<% end %>
			</div>
		</div>
	</div>
  <div class="col-sm-6" style="padding: 0px;">
  	<div class="cool-panel blue-grad">
			<div class="panel-head">
        <h3><strong> Add Song </strong></h3>
      </div>
      <div class="panel-content" style="padding:20px; ">
        	<%= form_for([ @album, @song]) do |f| %>
        	
			  	<% if @song.errors.any? %>
				    <div id="error_explanation">
					     <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

					     <ul>
					       <% @song.errors.full_messages.each do |message| %>
					        	<li><%= message %></li>
					        <% end %>
					    </ul>

				    </div>
			 	<% end %>

	            <div class="field">
			    	<%= f.label :title %><br>
			    	<%= f.text_field :title, class: "form-control"  %>
			  	</div>
			  	<div class="field">
			    	<%= f.label :track_number %><br>
			    	<%= f.number_field :track_number, class: "form-control"  %>
			  	</div>
			  	<div class="field">
			    	<%= f.label :description %><br>
			    	<%= f.text_field :description, class: "form-control"  %>
			  	</div>

			  	<div class="field" id="fileupload">
			    	<%= f.label :audio_file %>
			    	<%= f.file_field :audio_file, class: "form-control dropzone" %>
			    	<div class="dz-message needsclick">
					    Drop files or click above to upload.<br>
					    <span class="note help-block">.wav and .mp3 Files only. <a href="#">Click here to find out why.</a></span>
					</div>
			    </div>
			    <div class="field">
        	    <button class="btn btn-primary btn-block">
			      		<i class="fa fa-cloud-upload" aria-hidden="true"></i> <uppercase>Upload</uppercase>
			    </button>
			<% end %>
        <div class="actions">
          <br/>
        </div>
    </div>
  </div>
</div>


<% else %>
<div class="col-xs-6 col-xs-offset-3 error-message">
	<div class="error-message-inner">
		<h3> To Continue You Must Have An Account. </h3>
		<br/>
		<div class="btn-group btn-group-justified  vote pull-right" role="group" aria-label="...">
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-default" %> 
		<%= link_to "Sign In", :user_session, class: "btn btn-lg btn-default" %>
		</div>
	</div>
</div>
<% end %>