<p id="notice"><%= notice %></p>
<h3> <%= @song.album.band.group_name %> </h3>
<h4> <%= @song.album.name %> </h4>
<hr>
<p>
<%= link_to 'Play Song', @song.audio_file.url, :class => "play" %>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Track number:</strong>
  <%= @song.track_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @song.description %>
</p>


<%= link_to 'Edit',  edit_band_song_path(@song.album, @song) %> |
<%= link_to 'Back', band_album_path(@song.album.band_id, @song.album) %>
