<style>
body{
	padding-top:110px;
}
</style>
<% if user_signed_in? && current_user.admin? || user_signed_in? &&  current_user.id == @album.band.user_id %>
<div class="cool-panel top-form-panel blue-grad admin-title-panel" style=" margin-bottom: 15px;">
    <div class="row">
      <div class="col-sm-9 top-text-form-panel">
      <h2><strong>Edit '<%= @album.name %>'</strong></h2> 
      
      </div>
      <div class="col-sm-3 page-head-btn">
        <%= link_to edit_band_path(@album.band), class: "btn btn-link pull-right desktop-only" do %>
            <h3><strong><i class="fa fa-times" aria-hidden="true"></i></strong></h3>
        <% end %>
        <%= link_to edit_band_path(@album.band), class: "btn btn-default btn-block pull-right mobile-only", style: "padding: 0px; color:#000;" do %>
            <h3><strong><i class="fa fa-times" aria-hidden="true"></i> Cancel</strong></h3>
        <% end %>
      </div>
    </div>
  </div>
<%= form_for([@band, @album]) do |f| %>
	  <div class="row" >
		<div class="col-md-7 ">
			<div class="red-grad cool-panel">
				<div class="panel-head">
					<h3><strong>Release Details</strong></h3>
				</div>
				<div class="panel-content">
			  <% if @album.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

			      <ul>
			      <% @album.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
		    <div class="field">
		      <label>Album Title</label><br>
		      <%= f.text_field :name, class: "form-control"  %>
		    </div>
		    <% unless f.object.album_art.url(:thumb) == "/images/thumb/missing.png" %>
		    <%= f.label "Change Album Art" %>
		    <%= image_tag f.object.album_art.url(:thumb), class: "pull-right" %>
		    <%= f.file_field :album_art, class: "form-control", style: "width:78%;"  %>
		    <% else %>
		    <%= f.label :album_art %>
		    <%= f.file_field :album_art, class: "form-control"  %>
		    <% end %>
		    <div class="field">
		      <%= f.label "Type" %><br>
		      <%= f.select :album_type, options_for_select([['Album', 'Album'], ['EP', 'EP'], ['LP', 'LP'], ['Mixtape', 'Mixtape']]), class: "form-control"  %>
		    </div>
		    <div class="field">
		      <%= f.label :released %><br>
		      <%= f.text_field :released, class: "form-control" %>
		    </div>
		    <div class="field">
		      <%= f.label :description %><br>
		      <%= f.text_area :description, class: "form-control"  %>
		      <br/>
		    </div>
		    <div class="field">
		    	<div class="btn btn-group btn-group-justified btn-group-lg">
		          <div class="btn-group btn-group-lg">
		            <%= link_to request.referer.present? ? request.referer : default_path, class: "btn btn-danger", style: " " do %>
		                <i class="fa fa-close" aria-hidden="true"></i>
		            <% end %>
		          </div>
		          <div class="btn-group btn-group-lg">
		            <%= button_tag(type: 'submit', class: "btn btn-success", style: " ") do %>
		               <i class="fa fa-check" aria-hidden="true"></i>
		            <% end %>
		          </div>

		        </div>
		    </div>
		  </div>
		</div>
	</div>
		  <div class="col-md-5">
		  <div class="blue-grad cool-panel">
				<div class="panel-head">
					<h3><strong>Edit Songs</strong></h3>
				</div>
				<div class="panel-content">
	    	<%= f.fields_for :songs do |builder| %>
	      
	        <%= render 'song_fields', :f => builder %>

	    	<% end %>
	    	<%= link_to_add_more_fields "Add more songs in this group", f, :songs %>
	    	<div class="actions">
	      	<br/>
	      </div>
	    </div>
	  </div>
	<% end %>


<% else %>
<div class="col-xs-6 col-xs-offset-3 error-message">
	<div class="error-message-inner">
		<h3> You Don't Have Access To This Page.</h3>
		<% unless user_signed_in? %>
		<br/>
			<div class="btn-group btn-group-justified  vote pull-right" role="group" aria-label="...">
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-default" %> 
			<%= link_to "Sign In", :user_session, class: "btn btn-lg btn-default" %>
			</div>
		<% end %>
	</div>
</div>
<% end %>