<style type="text/css">
  body{
    margin-top: 100px;
  }
</style>
<p id="notice"><%= notice %></p>
<div class="row" style="margin-bottom:20px;">
  <%= link_to band_url(@band) do %>
  <div class="col-md-2">
    <%= image_tag @band.band_avatar.url(:medium), style: "border-radius:100px; height: 150px;" %>
  </div>
  <div class="col-md-8" style="padding:30px;">
    <h2>  <%= @band.group_name %>   </h2>
  </div>
  <% end %>
  <div class="col-md-2" style="padding-top:50px;">
    
  </div>
</div>
<hr>
  <div class="row">
  <h3> Albums </h3>
  <hr>
    <% @band.albums.each do |album| %>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <%= image_tag album.album_art.url(:medium), style: "height:120px; width:120px; object-fit:cover;" %>
          </div>
          <div class="col-md-8">
            <p><%= album.name %></p>
            <p><%= album.album_type %></p>
            <p><%= album.released %></p>
            <p><%= album.description %></p>
            <p><%= album.band.group_name %> </p>
            | <%= link_to 'Show', band_album_url(@band, album) %> 
            | <%= link_to 'Edit', edit_band_album_url(@band, album) %>
            | <%= link_to 'Destroy', album_path(album), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<hr>
<br>

<%= link_to 'New Album', new_band_album_path(@band) %>
