<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<% if user_signed_in? %>
		<% if current_user.id == @album.band.user_id %>
			<h2>New Album</h2>
			<hr>

			<%= render 'form' %>
			<br/>
			<%= link_to 'Cancel', band_albums_path, class: "btn btn-lg btn-block btn-danger" %>
		<% else %>
			<h1> You don't have access to <%= @album.band.group_name %>'s settings </h1> 
			<h2> Your bands </h2>
			<%= current_user.bands.each do |band| %>
				<h3><%= link_to band do %><%= band.group_name %><% end %></h3>
			<% end %>
		<% end %>
	<% else %>
	<h1> You don't have access to <%= @album.band.group_name %>'s settings </h1>
	<h2><%= link_to "Sign in to access your bands", new_user_session_path %></h2>
	<% end %>
  </div>
</div>