<style>

      textarea{
        font:inherit;
      }
      textarea::-webkit-input-placeholder {
      color: inherit;
      }
       
      textarea:-moz-placeholder { /* Firefox 18- */
      color: inherit;  
      opacity: 1;
      }
       
      textarea::-moz-placeholder {  /* Firefox 19+ */
      color: inherit; 
      opacity: 1; 
      }
       
      textarea:-ms-input-placeholder {  
      color: inherit;  
      }
</style>
<%= link_to band_path(@album.band_id) do %>
  <div class="blurry-stock ">
    <img src="<%= @album.band.band_avatar.url %>" class="blurry-image" style="object-fit: cover; filter: blur(10px)  opacity(0.5); height:100%;  background-color: #888;"/>
  </div>
  <div class="artist-header" >
    <div class="row">
      <h1><span data.color> </span>
      <div class="col-sm-4 col-md-2 col-lg-2">
        <img src="<%= @album.band.band_avatar.url %>" style= " object-fit:cover;" class="artist-bg-img img-responsive"  />

      </div>
      <div class="col-sm-6 col-md-10 col-lg-10" style="padding-top:30px;">
        <div class="h3-centered-sm"><h2>  <%= @album.band.group_name %>   </h2></div>
      </div>
    </div>
  </div>
<% end %>
<div class="  " style="" >
  <div class=" container-fluid">
    <div class="row">
      <div class=" col-sm-6 col-md-4 deets-cool-cont" style="margin-top:10px;">
      <div class="cool-panel" style="padding:20px;">
        <img src="<%= @album.album_art.url(:medium) %>" class="audio-art-img-page albumArt img-responsive" style= "width:100%; object-fit:cover;", class: " img-responsive album-bg-img" >
          <img src="<%= @album.album_art.url(:medium) %>" class="audio-art-img-page albumArt img-responsive" style= "width:100%; display: none;", class: " img-responsive album-bg-img"  >
          <div class="audio-player-vote-page" style="height: 93px;">
            <h3><%= pluralize @album.reputation_for(:votes).to_i, "vote" %></h3>
          <% if user_signed_in? %>
              <div class="btn-group btn-group-justified  vote pull-right" role="group" aria-label="...">
                <%= link_to vote_band_album_path(@album, type: "up"), method: "post", class: "btn btn-lg btn-success", remote: true, id: "vote-pjax-up" do %><i class="fa fa-chevron-up" aria-hidden="true"></i><% end %>
                 <%= link_to vote_band_album_path(@album, type: "down"), method: "post", class: "btn btn-lg btn-danger",  remote: true, id: "vote-pjax-down" do %><i class="fa fa-chevron-down" aria-hidden="true"></i><% end %>

              </div>
            <% end %>

            
        </div>

      <p>
        <br/>
        <strong>Released:</strong>
        <%= @album.released %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @album.description %>
      </p>
      <% if user_signed_in? && @user = @album.band.user_id || user_signed_in? && @user.admin?  %><%= link_to "Edit Album", edit_band_album_url(@album.band.id, @album), class: "btn btn-lg btn-block btn-default" %>  <% end %>
    
      </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8" style="margin-top:10px; ">
      <div class="cool-panel" style="margin-bottom:15px; padding:20px;">
      <h3><%= @album.name %></h3>
      <br/>
      <table class="table table-hover table-borderless">
        <% @album.songs.each_with_index do |album_song, i| %>
        
          <tr data-href="<%= band_album_song_url(album_song.album.band_id, album_song.album, album_song) %>" id="show-song" class="clickable-row song-list">
            <td style="padding-top:18px;"><%= album_song.track_number %></td>
            <td><strong><%= album_song.title %></strong><br/> <%= album_song.album.name %></td>
            <td style="padding-top:18px;"><%= album_song.album.released %></td>
            <td style="padding-top:16px;"><span id="duration-<%= i %>" style="float: right;"></span></td>
          </tr>
          <audio id="my-audio-<%= i %>" src="<%= album_song.audio_file.url %>"></audio>

          <script>
            $("#my-audio-<%= i %>").on("canplaythrough", function(e){
                var seconds = e.currentTarget.duration;
                var duration = moment.duration(seconds, "seconds");
                
                var time = "";
                var hours = duration.hours();
                if (hours > 0) { time = hours + ":" ; }
                
                time = time + duration.minutes() + ":" + duration.seconds();
                $("#duration-<%= i %>").text(time);
            });

            $("#file").change(function(e){
              var file = e.currentTarget.files[0];

              var reader = new FileReader();
              
              reader.onLoad = function(encodedFile){
                $("#my-audio").prop(src, encodedFile);
              };
              
              reader.readAsDataURL(file);
            });
          </script>
        
        <% end %>
      </table>
      </p>
      </div>
      <div class="cool-panel" style="padding:20px;">
      <h3> Comments </h3>
      <%= render :partial => 'album_comments_fields' %>
      <% if @album.album_comments.present? %>
        <% @album.album_comments.each do |comment| %>
        
        <% unless comment.body.blank? %>
        <hr>
          <h5> <strong><%= comment.user.first_name if comment.user %> <%= comment.user.last_name if comment.user %></strong> <small class="pull-right"> <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago </small> </h5>
          <p> <%= comment.body %> </p>
        <% end %>
        <% end %>
      <% else %>
        <div class="well">
          <h4> No Comments </h4>
        </div>
      <% end %>
      </div>
      </div>
    </div>

      
  </div>
</div>
      <script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      var url = $(this).data('href');
      window.open(url, '_blank');
    });
});
      </script>
      <script>
        var cw = $('.audio-art-img-page').width();
        $('.audio-art-img-page').css({
            'height': cw + 'px'
        });
      </script>