
<p id="notice"><%= notice %></p>
<div class="row" style="margin-bottom:20px;">
  <%= link_to band_path(@album.band) do %>
  <div class="col-sm-3 col-md-2 band-avatar-big">
    <%= image_tag @album.band.band_avatar.url(:medium), style: "border-radius:100px; height: 150px;" %>
  </div>
  <div class="col-sm-9 col-md-8 band-name-big" style="padding:30px;">
    <h2>  <%= @album.band.group_name %>   </h2>
  </div>
  <% end %>

</div>

<hr>
<div class="row albumColor" >
  <div class="col-sm-6 col-md-4">
    <img src="<%= @album.album_art.url(:medium) %>" class="albumArt img-responsive" style= "height:300px; width:300px; object-fit:cover;" >

  <p>
    <strong>Released:</strong>
    <%= @album.released %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @album.description %>
  </p>

  </div>
  <div class="col-sm-6 col-md-8">
  <label>Songs</label>
    <% @album.songs.each do |album_song| %>
    <script>
    $(function(){
      $("#set_song_id<%= album_song.id %>").click(function(){
        $.post('/bands/:band_id/songs/<%= album_song.id %>(.:format)');
      })
    })
    </script>
     <p>
      <a href="#" id="set_song_id<%= album_song.id %>" ><%= album_song.track_number %>. <%= album_song.title %> </a> 
        
    </p>
    <% end %>
  </p>
  </div>
</div>
<hr>
<% if user_signed_in? && @user = @album.band.user_id %><%= link_to "Edit", edit_band_album_url(@album.band.id, @album) %> | <% end %>
<%= link_to 'Back', band_path(@album.band.id) %>

