
  <div class="col-md-8 ">
    <div class="row">
    <%= form_tag bands_path, method: :get do %>
      <%= collection_select :state_cont, nil, State.order(:name), :id, :name, {include_blank: true},  placeholder: "Which State's Charts? (Leave Blank For National Charts)", class: "col-xs-10" %> 
      <%= submit_tag "Search", :name => nil, class: "btn btn-default col-xs-2"  %>
    <% end %>
    <br/>
    <hr>
     <% if @state.present? %> <h2 style="text-align: center;"> <%= @state.name %>'s Charts</h2> <% else %> <h2 style="text-align: center;"> National Charts </h2> <% end %> 
    <hr>
    </div>
    <div class="col-md-4">
      <h3><strong> Artists </strong></h3>
      <hr>
      <% @topbands.each_with_index do |top_band, i| %>
        <p>
        <%= link_to top_band do %>#<%= (i+1) %> <strong><%= top_band.group_name %></strong> <small class="pull-right"><%= top_band.reputation_for(:votes).to_i %></small> <% end %>
        </p>
        <hr>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3><strong> Albums </strong></h3>
      <hr>
      <% @albums.with_reputation(:votes).order("votes DESC").each_with_index do |top_album, i| %>
        <%= link_to band_album_path(top_album.band_id, top_album)do %>
        <p>
          #<%= (i+1) %> <strong><%= top_album.name %></strong><small class="pull-right"><%= top_album.reputation_for(:votes).to_i %></small>
        </p>
        <p> 
          <%= top_album.band.group_name %>
        </p>
        <% end %>
        <hr>

      <% end %>
    </div>
    <div class="col-md-4">
      <h3><strong> Songs </strong></h3>
      <hr>
      <% @songs.each_with_index do |top_song, i| %>
        <a href="#" data-href="<%= band_album_song_path(top_song.album.band_id, top_song.album_id, top_song ) %>"  id ="song_path_<%= top_song.id %>" >
          <p>
            #<%= (i+1) %> <strong><%= top_song.title %></strong> | <small><%= top_song.album.name if top_song.album %></small> <small class="pull-right"><%= top_song.reputation_for(:votes).to_i %></small>
          </p>
          <p>
            <%= top_song.album.band.group_name if top_song.album %>
          </p>
        </a>
        <hr>
        <script>
        jQuery(document).ready(function($) {
            $("#song_path_<%= top_song.id %>").click(function() {
              var url = $(this).data('href');
              window.open(url, '_blank');
            });
        });
        </script>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 ">
  <h2 style="text-align: center;"><strong>All Recent Activities</strong></h2>
  <hr>
    <%= render_activities(@activities) %>
  </div>

<script type="text/javascript">
  $(function() {
  $('#state_cont_').selectize({
    create: true
  });
});
</script>