<p id="notice"><%= notice %></p>
<div class="row" style="margin-bottom:20px;">
  <div class="col-md-2">
    <%= image_tag @band.band_avatar.url(:medium), style: "border-radius:100px; height: 150px;" %>
  </div>
  <div class="col-md-8" style="padding:30px;">
    <h2>  <%= @band.group_name %>  <% if user_signed_in? && @user = @band.user_id %> <%= link_to "Manage Band", edit_band_url %> <% end %></h2>
  </div>
  <div class="col-md-2" style="padding-top:50px;">
    <% if user_signed_in? %>
      <div id="follow_form">
      <% if current_user.following?(@band) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div class="col-md-3">
  <p>
    <strong>Genre:</strong>
    <%= @band.genre %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @band.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @band.state %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @band.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @band.website %>
  </p>
  <p>
  <hr>
  <label>Members</label>
  <% @band.members.each do |member| %>
    <p>
    <%= member.first_name %> <%= member.last_name %>
    </p>
  <% end %>
  <hr>
</div>
<div class="col-md-9">
  <% unless @band.events.blank? %>
    <label>Shows</label>
    <hr>
    <div class="row">
      <% @band.events.each do |event| %>
        <%= link_to band_event_url(@band, event) do %>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4" style="text-align:center;">
                <%= image_tag event.flyer.url(:medium), style: " width:88px; object-fit:cover; border-radius:2px;" %>
              </div>
              <div class="col-md-8">
                <p>
                  <%= event.city %>, <%= event.state %>
                </p>
                <p>
                  <%= event.date %>, <%= event.time %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <hr>
  <% end %>
  
  <% unless @band.albums.blank? %>
    <label>Albums</label>
    <hr>
    <div class="row">
      <% @band.albums.each do |album| %>
      <%= link_to band_album_url(@band, album) do %>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag album.album_art.url(:medium), style: "height:88px; width:88px; object-fit:cover; border-radius:2px;" %>
            </div>
            <div class="col-md-8">
              <p><%= album.name %></p>
              <p><%= album.album_type %></p>
              <p><%= album.released %></p>

            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>

  <% end %>
  </p>
  <hr>

  <label>Top Songs</label>
  <hr>
    <% @band.songs.each do |song| %>
    <p>
      <label>Title:</label> <%= song.title %>
      <label>Year:</label> <%= song.album.released %>
      <label>Album:</label> <%= song.album.name %>
    </p>
    <% end %>
</div>