<style>



small{
  font-size: 16px;
}
.artist-header{

}
</style>
<div class="w">
  <div class="blurry-stock ">
    <img src="<%= @band.band_avatar.url %>" class="blurry-image" style="object-fit: cover; filter: blur(10px)  opacity(0.5); height:100%;  background-color: #888;"/>
  </div>
  <div class="artist-header" >
    <div class="row">
      <h1><span data.color> </span>
      <div class="col-sm-4 col-md-2 col-lg-2">
        <img src="<%= @band.band_avatar.url %>" style= " object-fit:cover;" class="artist-bg-img img-responsive"  />

      </div>
      <div class="col-sm-6 col-md-10 col-lg-10" style="padding-top:30px;">
        <div class="h3-centered-sm"><h2>  <%= @band.group_name %>   </h2></div>
      </div>
    </div>
  </div>
  <div class="artist-deets" >
    <div class=" container">
      <div class="row">
        <div class="col-md-3 cool-panel" style="padding:20px;">
               <div class="audio-player-vote-page" style="height: 93px; margin-top:-0px;">
                <h3><%= pluralize @band.reputation_for(:votes).to_i, "vote" %></h3>
            <% if user_signed_in? %>
            <div class="btn-group btn-group-justified  vote pull-right" role="group" aria-label="...">
              <%= link_to vote_band_path(@band, type: "up"), method: "post", class: "btn btn-lg btn-success", remote: true, id: "vote-pjax-up" do %><i class="fa fa-chevron-up" aria-hidden="true"></i><% end %>
               <%= link_to vote_band_path(@band, type: "down"), method: "post", class: "btn btn-lg btn-danger",  remote: true, id: "vote-pjax-down" do %><i class="fa fa-chevron-down" aria-hidden="true"></i><% end %>
               </div>
            </div>
        <div id="follow_form">
        <% if current_user.following?(@band) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
        </div>
      <% end %>
      <% if user_signed_in? %>
      <% else %>
      </div>
      <% end %>
          <h3 > About </h3>
          <hr>
          <div class="about">
            <p>
              <strong>Genre:</strong>
              <%= @band.genre %>
            </p>

            <p>
              <strong>City:</strong>
              <%= @band.city %>
            </p>

            <p>
              <strong>State:</strong>
              <%= @band.state %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= @band.description %>
            </p>

            <p>
              <strong>Website:</strong>
              <%= @band.website %>
            </p>
            <hr>
            <label>Members</label>
            <% @band.members.each do |member| %>
              <p>
              <%= member.first_name %> <%= member.last_name %>
              </p>
            <% end %>
            <hr>
          </div>
          <hr>
          <script>
          $("#hideshow").click(function() { 
            // assumes element with id='button'
            $("#about").toggle();
          });
          </script>
        </div>

        <div class="col-md-9 cool-panel artist-deets-right" style="padding:20px; ">
          <h3><strong>Top Songs</strong></h3>
          <br/>
            <table class="table table-hover" data-no-turbolink>
            <% @band.songs.each do |album_song| %>
            
                <tr data-href="<%= band_album_song_url(album_song.album.band_id, album_song.album, album_song) %>" id="show-song" class="clickable-row">
                
                <td><strong><%= album_song.title %></strong><br/> <%= album_song.album.name %></td>
                <td style="padding-top:18px;" ><span class="pull-right"><%= album_song.album.released %></span></td>
              </tr>
            <% end %>
          </table>
          <hr>
          <% unless @band.albums.blank? %>
            <h3><strong>Albums</strong></h3>
            <hr>
            <div class="row">
              <% @band.albums.each do |album| %>
              <%= link_to band_album_url(@band, album) do %>
                <div class="col-xs-4 col-md-3">

                      <%= image_tag album.album_art.url(:medium), style: "width:100%; object-fit:cover; border-radius:2px; margin-bottom:10px;", class: "img-responsive audio-art-img-page"%>
                      <p><%= album.name %></p>
                      <small><%= album.released %></small>
                </div>
              <% end %>
            <% end %>
            </div>

          <% end %>
          </p>
          <hr>
          <% unless @band.events.blank? %>
            <h3><strong>Shows</strong></h3>
            <hr>
            <div class="row">
              <% @band.events.each do |event| %>
                <%= link_to band_event_url(@band, event) do %>
                  <div class="col-md-4 col-xs-6">
                    <div class="row">
                      <div class="col-xs-6 col-sm-5 col-lg-4" style="text-align:center;">
                        <%= image_tag event.flyer.url(:medium), style: " width:88px; object-fit:cover; border-radius:2px;" %>
                      </div>
                      <div class="col-xs-6 col-sm-7 col-lg-8">
                        <p>
                          <%= event.city %>, <%= event.state %>
                        </p>
                        <p>
                          <%= event.date %>, <%= event.time %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <hr>
          <% end %>
          <% if @articles.present? %>
            <h3><strong>News</strong></h3>
            <hr>
            <div class="row">
              <% @articles.each do |article| %>
                <% if article.public? %>
                  <%= link_to article_url(article) do %>
                    <div class="col-md-4 col-xs-6">
                      <div class="row">
                        <div class="col-xs-12">
                          <h4><strong><%= article.title %></strong></h4>
                          <p>
                            <%= article.body.truncate(190).html_safe %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <hr>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>
      <script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      var url = $(this).data('href');
      window.open(url, '_blank');
    });
});
      </script>
            <script>
        var cw = $('.audio-art-img-page').width();
        $('.audio-art-img-page').css({
            'height': cw + 'px'
        });
      </script>