<style>



small{
  font-size: 16px;
}


</style>

  <div class="artist-header" >
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
      <h1><span data.color> </span>
      <div class="band-head-img">
        <img src="<%= @band.band_avatar.url %>" style= " object-fit:cover; height:100%; width:100%; border-radius: 3px;" class="cool-panel img-responsive album-blur-sm"  />
        <img src="<%= @band.band_avatar.url %>" style= " object-fit:cover; border-radius: 3px;" class="cool-panel img-responsive album-clear-sm"  />

      </div>
      <div class="band-head-deets cool-panel blue-grad" style=" padding: 0px; border-radius: 3px;">
        <h3 style="padding-left: 20px; padding-bottom: 27px;
margin-top: 5px;"><strong><%= @band.group_name %></strong></h3>
        <socail><%= @band.reputation_for(:votes).to_i %> Likes</socail>
        <div class="sidebar-deets" style="height: 100%; padding: 15px;">
          <p>
              <%= @band.description %>
            </p>
          <div class="h3-centered-sm"><h2>     </h2>
          </div>
          
          <div class="band-votes " style="color:#FFF; height: 78px; right: 0px; margin-top:52px; width:78px;">
              <% if user_signed_in? %>
              <div class="btn-group btn-group-justified vote pull-right" role="group" aria-label="..." style="padding: 0px;">
                <% if @vote.present? %>
                
                  <% if @vote.value == 0.0 %>
                  <%= link_to vote_band_path(@band, type: "up"), method: "post", class: "btn btn-lg btn-success-block-head-sm", id: "vote-pjax-up", style: "padding: 0px;" do %><h2><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></h2><% end %>
                  <% elsif @vote.value == 1.0 %>
                  <style>
                    .band-votes{
                      width:100px!important;
                    }
                  </style>
                   <%= link_to vote_band_path(@band, type: "down"), method: "post", class: "btn btn-lg btn-success-block-head-sm",  id: "vote-pjax-down", style: "padding: 0px; width: 78px;" do %><h2><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></h2><% end %>
                   <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="right: 0px; float: right; height: 78px; border-bottom-right-radius: 0px; padding-left: 8px; background: -moz-linear-gradient(45deg, #4B5465 0%, #3E4553 100%); background: -webkit-linear-gradient(45deg, #4B5465 0%, #3E4553 100%); background: linear-gradient(45deg, #4B5465 0%, #3E4553 100%); background: #4B5465;">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>

                  <ul class="dropdown-menu">
                    <li class=""><% if user_signed_in? && current_user.following?(@band) %>
                        <%= render 'unfollow' %>
                      <% else %>
                        <%= render 'follow' %>
                      <% end %>   
                    </li>

                    <li><a href="#" class="btn-link btn-block">Report Artist</a></li>
                  </ul>
                   <% end %>
                <% else %>
                <%= link_to vote_band_path(@band, type: "up"), method: "post", class: "btn btn-lg btn-success-block-head-sm", id: "vote-pjax-up", style: "padding: 0px;" do %><h2><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></h2><% end %>
                 <% end %>
              </div>
            </div>
            <div id="follow_form">
              
            </div>
            <% end %>
            <% if user_signed_in? %>
            <% else %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="artist-deets" style="" >
    <div class=" container">
      <div class="row only-md-row">
        <div class="col-md-3 deets-cool-cont" >
          <div class="cool-panel red-grad" style="background: #6C1B44; padding: 0px; border-radius: 3px;">

      
          <h3 style="padding-left: 20px;"><strong>About</strong>  </h3> 
          <% if @band.store.present? %>
            <a href="http://www.<%= @band.store %>" class="btn btn-lg btn-success-block-head-sm" style="padding: 0px; width: 78px; position: absolute; top:0px; right:50px; color:#FFF; background-color: #521534;"><h2><i class="fa fa-shopping-cart" aria-hidden="true"></i></h2></a>
          <% end %>
          <div class="sidebar-deets" style="height: 100%;">
            <div class="about">
              <p>
                <strong>Genre:</strong>
                <%= @band.genre %>
              </p>

              <p>
                <strong>City:</strong>
                <%= @band.city %>
              </p>

              <p>
                <strong>State:</strong>
                <%= @band.state %>
              </p>

              <p>
                <strong>Website:</strong>
                <%= @band.website %>
              </p>
              <hr>
              <label>Members</label>
              <% @band.members.each do |member| %>
                <p>
                <%= member.first_name %> <%= member.last_name %>
                </p>
              <% end %>
              <hr>
            </div>
          </div>
          <script>
          $("#hideshow").click(function() { 
            // assumes element with id='button'
            $("#about").toggle();
          });
          </script>
        </div>
        </div>
        <div class="col-md-9 artist-deets-right" style="padding: 0px; ">
          <% if @band.albums.any? %>
            <div class="cool-panel blue-grad" style=" padding: 0px; border-radius: 3px;">
            <h3 style="padding-left: 20px;"><strong>Top Songs</strong>
              <div style="padding:0px; position: absolute; top:0px; right:0px; height: 78px; width:78px;">
              <% if user_signed_in? && current_user.id == @band.user_id %>
              <%= link_to new_band_album_path(@band), class: "btn btn-lg btn-success btn-success-block-head-sm" do %>
                  
                  <div class="back-form">
                    <h2><i class="fa fa-plus" aria-hidden="true"></i></h2>
                </div>
              <% end %>
              <% end %>
              </div>
            </h3>
            <div class="sidebar-deets" style="height: 100%;">
              <table class="table table-hover" data-no-turbolink>
              <% @topsongs.limit(5).each_with_index do |album_song, i| %>
              
                  <tr data-href="<%= band_album_song_url(album_song.album.band_id, album_song.album, album_song) %>" id="show-song" class="clickable-row">
                  <td style="padding-top:18px;" ><span><%= i+1 %></span></td>
                  <td><strong><%= album_song.title %></strong><br/> <%= album_song.album.name %></td>
                  <td style="padding-top:18px;" ><span class="pull-right" style="float: right;"><%= album_song.album.released %></span></td>
                  <td style="padding-top:16px;"><span id="duration-<%= i %>" style="float: right;"></span></td>
                </tr>
                <audio id="my-audio-<%= i %>" src="<%= album_song.audio_file.url %>"></audio>

                <script>
                  $("#my-audio-<%= i %>").on("canplaythrough", function(e){
                      var seconds = e.currentTarget.duration;
                      var duration = moment.duration(seconds, "seconds");
                      
                      var time = "";
                      var hours = duration.hours();
                      if (hours > 0) { time = hours + ":" ; }
                      
                      time = time + duration.minutes() + ":" + duration.seconds();
                      $("#duration-<%= i %>").text(time);
                  });

                  $("#file").change(function(e){
                    var file = e.currentTarget.files[0];

                    var reader = new FileReader();
                    
                    reader.onLoad = function(encodedFile){
                      $("#my-audio").prop(src, encodedFile);
                    };
                    
                    reader.readAsDataURL(file);
                  });
                </script>
              <% end %>
            </table>
          </div>
            </div>
            <div class="cool-panel blue-grad" style=" padding: 0px; border-radius: 3px; margin-top: 15px;">
              <h3 style="padding-left: 20px;"><strong>Albums</strong>
              </h3>
              <div class="sidebar-deets" style="height: 100%;">
                <div class="row">
                  <% @band.albums.each do |album| %>
                    <%= link_to band_album_url(@band, album) do %>
                      <div class="col-xs-4 col-md-3">

                          <%= image_tag album.album_art.url(:medium), style: "width:100%; object-fit:cover; border-radius:2px; margin-bottom:10px;", class: "img-responsive audio-art-img-page" %>
                          <p class="album_name_sm"><%= album.name %></p>
                          <small class="album_rd_sm"><%= album.released %></small>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          <% elsif if user_signed_in? && @band.user_id == current_user.id %>
            <div class="row">
              <h1 class="h3-centered" style="font-size: 70px;"> <i class="fa fa-music" aria-hidden="true"></i> </h1>
              <h3 class="h3-centered" style="font-size: 30px;">You haven't added any music.</h3>
              <div class="h3-centered">
                <%= link_to "Add some songs", new_band_album_path(@band), class: "btn btn-lg btn-primary" %>
              </div>
            </div>
          <% else %>
            <div class="row">
              <h1 class="h3-centered" style="font-size: 70px;"> <i class="fa fa-music" aria-hidden="true"></i> </h1>
              <h3 class="h3-centered" style="font-size: 30px;">This artist hasn't added any music.</h3>
            </div>
          <% end %>
          </div>
          <% unless @band.events.blank? %>
          <div class="cool-panel" style="padding:20px; margin-top: 15px;">
            <h3><strong>Shows</strong></h3>
            <hr>
            <div class="row">
              <% @band.events.each do |event| %>
                <%= link_to band_event_url(@band, event) do %>
                  <div class="col-md-4 col-xs-6">
                    <div class="row">
                      <div class="col-xs-6 col-sm-5 col-lg-4" style="text-align:center;">
                        <%= image_tag event.flyer.url(:medium), style: " width:88px; object-fit:cover; border-radius:2px;" %>
                      </div>
                      <div class="col-xs-6 col-sm-7 col-lg-8">
                        <p>
                          <%= event.city %>, <%= event.state %>
                        </p>
                        <p>
                          <%= event.date %>, <%= event.time %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="cool-panel" style="padding:20px; margin-top: 15px;">
          <% end %>
          <% if @articles.present? %>
          <div class="cool-panel" style="padding:20px; margin-top: 15px;">
            <h3><strong>News</strong></h3>
            <hr>
            <div class="row">
              <% @articles.each do |article| %>
                <% if article.public? %>
                  <%= link_to article_url(article) do %>
                    <div class="col-md-4 col-xs-6">
                      <div class="row">
                        <div class="col-xs-12">
                          <h4><strong><%= article.title %></strong></h4>
                          <p>
                            <%= strip_tags(article.body.truncate(190)) %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      var url = $(this).data('href');
      window.open(url, '_blank');
    });
});
      </script>
            <script>
        var cw = $('.audio-art-img-page').width();
        $('.audio-art-img-page').css({
            'height': cw + 'px'
        });
      </script>