<style type="text/css">
  body{
  background-color: #f3f4f7;
  margin-top: 110px;
}
</style>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="form-cont cool-panel col-md-8 col-md-offset-2">
    <div class="cool-panel title-panel">
      <div class="row">
        <div class="col-sm-12">
        <h2>Sign in</h2> 
        <h4> 
         Sign in unless you need to <%= link_to "click here to sign up", new_user_registration_path %>.
          </h4>
        </div>
        
    </div>
  </div>
  <div class="row deets-panel" style="padding:20px;">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
    <br/>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
      <div class="btn btn-group btn-group-justified btn-group-lg" role="group" style="padding: 0px;">
        <div class="btn-group btn-group-lg" role="group">
          <%= link_to root_path, class: "btn btn-danger", style: " " do %>
            <i class="fa fa-close" aria-hidden="true"></i>
          <% end %>
        </div>
          <div class="btn-group btn-group-lg" role="group">
          <%= button_tag(type: 'submit', class: "btn btn-success", style: " ") do %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
  </div>
</div>

<% end %>

  </div>
</div>