<style type="text/css">
  body{
  background-color: #f3f4f7;
}
</style>
<div class="row ">
  <div class="sign-in-form-cont cool-panel form-cont col-md-6 col-md-offset-3">
    <h2>Sign in</h2>
    <hr>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
        <br/>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
      <br/>
        <%= f.submit "Sign in", class: "btn btn-lg btn-block btn-success" %>
        <br/>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>