<style type="text/css">
  body{
  background-color: #f3f4f7;
  margin-top: 110px;
}
</style>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row ">
  <div class=" cool-panel form-cont col-md-6 col-md-offset-3">
    <div class="cool-panel" style="padding:20px; padding-bottom:40px; margin:-15px; background-color: #213143; color:#fff;">
    <div class="row">
      <div class="col-sm-7">
      <h2>Sign in</h2> 
      <h4> 
       Sign in unless you still need to <%= link_to "click here to sign up", new_registration_path(resource_name) %>.
        </h4>
      </div>
      <div class="col-sm-5" style="padding:0px;">
        <%= link_to root_path, class: "btn btn-lg btn-danger btn-danger-block-head", style: " " do %>
          <div class="back-form">
          <h2><i class="fa fa-close" aria-hidden="true"></i></h2>
        </div>
        <% end %>
        <%= button_tag(type: 'submit', class: "btn btn-lg btn-success btn-success-block-head", style: " ") do %>
        <div class="back-form">
          <h2><i class="fa fa-check" aria-hidden="true"></i></h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="cool-panel row" style="padding:20px;">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
    <br/>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
  <br/>
    <br/>
  </div>
</div>
<% end %>

  </div>
</div>