<p id="notice"><%= notice %></p>

<h1>Playlist Items</h1>

<table>
  <thead>
    <tr>
      <th>Playlist</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist_items.each do |playlist_item| %>
      <tr>
        <td><%= playlist_item.playlist %></td>
        <td><%= playlist_item.song_id %></td>
        <td><%= link_to 'Show', playlist_item %></td>
        <td><%= link_to 'Edit', edit_playlist_item_path(playlist_item) %></td>
        <td><%= link_to 'Destroy', playlist_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist Item', new_playlist_item_path %>
