<style type="text/css">
  body{
    margin-top:120px;
  }
</style>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="row">
  <div class=" cool-panel form-cont col-md-8 col-md-offset-2">
    <div class="cool-panel" style="padding:20px; padding-bottom:40px; margin:-15px; background-color: #213143; color:#fff;">
      <div class="row">
        <div class="col-sm-7">
        <h2>Sign up</h2> 
        <h4> 
         Sign up unless you need to <%= link_to "click here to sign in", new_session_path(resource_name) %>.
          </h4>
        </div>
        <div class="col-sm-5" style="padding:0px;">
          <%= link_to root_path, class: "btn btn-lg btn-danger btn-danger-block-head", style: " " do %>
            <div class="back-form">
            <h2><i class="fa fa-close" aria-hidden="true"></i></h2>
          </div>
          <% end %>
          <%= button_tag(type: 'submit', class: "btn btn-lg btn-success btn-success-block-head", style: " ") do %>
          <div class="back-form">
            <h2><i class="fa fa-check" aria-hidden="true"></i></h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row cool-panel" style="padding:20px;">
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :state %><br />
        <%= f.collection_select :state, State.order(:name), :id, :name, {include_blank: true} %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $(function() {
  $('#user_state').selectize({
    create: false,
    sortField: 'text'
  });
});
</script>